@use "../abstracts/mixins" as m;
@use "../abstracts/colors" as c;
@use "../abstracts/shadows" as s;
@use "../base/typography" as *;

.users-stat-card {
	background-color: c.color(white);
	border: thin solid rgba(c.color(primary), 0.06);
	box-shadow: s.$box-shadow-card;
	@include m.radius(4px);
	padding: 20px 30px 30px 30px;

	&__icon {
		@include m.equalSize(40px);
		margin-bottom: 14px;
	}

	&__label {
		text-transform: uppercase;
		font-weight: 500;
		@extend .text-2;
		margin-bottom: 12px;
	}

	&__number {
		font-weight: 600;
		color: c.color(primary);
		text-transform: uppercase;
		@extend .headline-1;
	}
}
