// Avenir Next Font
@font-face {
	font-family: "Avenir Next";
	font-style: normal;
	font-weight: 400;
	src: url("../../public/fonts/avenir-next-regular.woff2") format("woff2");
}

@font-face {
	font-family: "Avenir Next";
	font-style: normal;
	font-weight: 600;
	src: url("../../public/fonts/avenir-next-semibold.woff2") format("woff2");
}

@font-face {
	font-family: "Avenir Next";
	font-style: normal;
	font-weight: 700;
	src: url("../../public/fonts/avenir-next-bold.woff2") format("woff2");
}
